.env
test.py
data/UNSW_NB15_training-set.csv
data/UNSW_NB15_testing-set.csv
data/UNSW-NB15_1.csv
data/UNSW-NB15_2.csv
data/UNSW-NB15_3.csv
data/UNSW-NB15_4.csv
model/cat_thresholds.pkl
model/clamp_thresholds.pkl
model/full_cat_thresholds.pkl
model/full_clamp_thresholds.pkl
model/full_log_thresholds.pkl
model/full_model.pkl
model/full_one_hot_encoder.pkl
model/full_standard_scaler.pkl
model/log_thresholds.pkl
model/model.pkl
model/one_hot_encoder.pkl
model/standard_scaler.pkl
model/standard_scaler_full.pkl